.profile__edit-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.5s linear;
    padding: 0;
    border: 0;
    background: transparent;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px){
    .profile__edit-button {
        width: 18px;
        height: 18px;

    }
}