.popup__container {
    width: 430px;
    height: 330px;
    border-radius: 10px;
    background-color: #fff;
    position: fixed;
    top: calc(50% - 330px / 2);
    left: calc(50% - 430px / 2);
    display: flex;
    flex-direction: column;
    padding: 34px 36px 36px;
    box-sizing: border-box;
    margin: auto;
}

@media screen and (max-width: 768px){
    .popup__container {
        width: 300px;
        left: calc(50% - 300px / 2);
        padding: 10px;
    }
}