.profile__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: white;
    margin: 0;
}

@media screen and (max-width: 768px){
    .profile__subtitle {
        font-size: 14px;
        margin-bottom: 36px;
    }
}