.elements__like-button {
    cursor: pointer;
    padding: 0;
    border: 0;
    background: transparent;
    transition: transform 0.5s linear;
}

.elements__like-button:hover {
    transform: scale(1.2);
}